/* Make the app layout stretch full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make the content area flexible */
.container {
  flex: 1;
}

/* Footer styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 1rem 1rem;
  margin-top: auto;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.footer-brand, .footer-newsletter, .footer-contact {
  flex: 1 1 300px;
  margin-bottom: 0.5rem;
  padding: 0.05rem;
}

.footer-newsletter input {
  padding: 0.1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 4px;
}

.footer-newsletter button {
  padding: 0.5rem 1rem;
  background-color: #ffa500;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.footer-newsletter button:hover {
  background-color: #ff8800;
}

.footer-contact h4 {
  color: #ffa500;
  margin-bottom: 0.8rem;
}

.footer-contact p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.875rem;
  color: #bbb;
  border-top: 1px solid #444;
  padding-top: 1rem;
  margin-top: 2rem;
}

.footer-socials span {
  margin-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.footer-socials span:hover {
  color: #ffa500;
}
body {
  background-color: black;
  color: #222;
  font-family: sans-serif;
}
